h1.titulo {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: coral;
}

#botonCarrito {
  align-items: flex-start;
}

#carritoAside {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: aqua;
  border-left: 2px solid #e5e5e5;
  padding: 1rem;
  display: none;
  z-index: 999;
}

#carritoAside.visible {
  display: block;
}

body {
  background-color: peachpuff;
}

article {
  align-self: auto;
}

img {
  width: 300px;
  margin-left: 39%;
}

h2 {
  text-align: center;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: lighter;
  text-align: center;
  color: tomato;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: tomato;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 39%;
}
